<form (ngSubmit)="onSubmit()">
  <div>
    <label for="firstname-user">Firstname</label>
    <input name="firstname-user" type="text" [(ngModel)]="model.firstname" />
  </div>
  <div>
    <label for="lastname-user">Lastname</label>
    <input name="lastname-user" type="text" [(ngModel)]="model.lastname" />
  </div>
  <div>
    <label for="mail-user">Mail</label>
    <input name="mail-user" type="email" [(ngModel)]="model.mail" />
  </div>
  <div>
    <label for="password-user">Password</label>
    <input name="password-user" type="password" [(ngModel)]="model.password" />
  </div>
  <button type="submit">Submit</button>
</form>
